<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ConnectionSource" value="Data Source=(local); Integrated Security=true; Initial Catalog="/>  
      <add key="ConnectionDestination" value="Data Source=(local); Integrated Security=true; Initial Catalog="/>
      <add key="DatabaseSource" value="WideWorldImporters"/>
      <add key="DatabaseDestination" value="WideWorldImporters"/>
    </appSettings>
</configuration>