/*~~~~~~~~~~ General ~~~~~~~~~~~~~*/
* {
	margin:0px;
	padding:0px
}
html {
	margin: 0px; 
	padding: 0px; 
	border: 0px;
}
body {
	color: #8d8d8d; 
	background-color: #8d8d8d; 
	font-family: arial, sans-serif; 
	text-align: center;
	font-size: 70%; 
	margin: 0px;
}
.wrapper {
	margin: 0px auto;
	padding:0px;
	width: 1000px;
	text-align: left;
	background: #000000;
	border: 1px solid #000000;
	text-align:left;
}
.titleTop {
	background: #000000;
	width: 100%; 
	border: 1px solid #000000;
}
.tdFirstCell{
	width: 100px;
	background: #8d8d8d;
}
.topNav{
	text-align: center;
	width: 1000px;
	height: 25px;
	background: #111111;
}
.tdNav{
	width: 12.5%;
	height: 25px;
	border-right: 0px solid #8d8d8d;
	text-decoration: none;
	cursor: hand; 
	text-align: center;
	font-size: 85%; 
}
.tdNav a{
	text-decoration: none;
}
.tdNav div{
	text-decoration: none;
	cursor: hand; 
	text-align: center;
	color: #8d8d8d; 
}
.tdNavLast{
	width: 12.5%;
	height: 25px;
	border-right: 0px solid #8d8d8d;
	cursor: hand;	
	text-align: center;
	font-size: 85%; 
}
.tdNavLast a{
	text-decoration: none;
}
.tdNavLast div{
	text-decoration: none;
	cursor: hand; 
	text-align: center;
	color: #8d8d8d; 
}
.titleBottom {
	background: #8d8d8d;
	width: 100%; 
	border: 1px solid #8d8d8d;
}
.centerBottom{
	width:757px;
	height:170px;
	background:#ffffff;
}
.colOne {
	font-family: arial, sans-serif; 
	font-size: 70%; 
	width:378px;
	height:70px; 
	padding:10px 10px 0px 55px; 
	line-height: 0.5cm; 
}
.newH1 {
	font-size: 17px;
}
.colTwo {
	font-family: arial, sans-serif; 
	font-size: 70%; 
	width:378px;
	height:70px; 
	padding:10px 50px 0px 0px; 
	line-height: 0.5cm; 
}
.colTwo ul {
	/*text-indent: 10px;*/
	margin-left: 20px;
}
.colOver {
	font-family: arial, sans-serif; 
	font-size: 70%;
	width:756px;
	height:70px; 
	padding:10px 55px 0px 55px; 
	line-height: 0.5cm; 
}
.colOver .newH1 {
	font-size: 17px;
}
a.grey:link{
    color : #8d8d8d;
}
a.grey:visited{
    color : #8d8d8d;
}
a.grey:active{
    color : #8d8d8d;
}
a.grey:hover{
    color : #8d8d8d;
}
.footer{
	marging:0px;
	padding:0px;
	white-space : nowrap;
	width: 100%;
	height:auto;
	background: #8d8d8d;
	color: #000;
	line-height: 14px;
	text-transform: none;
}
.footer p {
	padding: 0px 0px 0px 26px;
	margin:0px 0px 0px -5px; 
	color:#cccccc;
}
.footer a:visited {
	color: #cccccc; 
	text-decoration: none;
}
.footer a:hover {
	color: #FF6600; 
	text-decoration: none;
}
.footer a:active {
	color: #FF6600; 
	text-decoration: none;
}
.footer a:link {
	color: #cccccc; 
	text-decoration: none;
}
.spacer {
	clear: both;
	height: 25px;
	font-size: 0px;
	border: 0px;
	margin: 0px; 
	padding: 0px;
	visibility: hidden;
	width: 100%;
}
/*~~~~~~~~~~ General ~~~~~~~~~~~~~*/

/*~~~~~~~~~~ FAQ ~~~~~~~~~~~~~*/
.centerFaq{
	width:757px;
	height:422px;
	background:#ffffff;
	border-top: 1px solid #8d8d8d;
}
.faqScroll{
	width:100%;
	height:422px;
	background:#ffffff;
	overflow: auto;
}
.faqScroll td{
	width: 100%;
	font-family: arial, sans-serif; 
	text-align: left;
	font-size: 70%; 	
	padding-left: 30px;
	padding-right: 40px;
}
.faqScroll td h1 {
	font-size: 14px;
	padding:10px 0px 2px 0px; 
}
.faqScroll td a:hover, .faqScroll a:active, .faqScroll a:visited, .faqScroll a:link {
    color : #8d8d8d;    
	padding:0px 0px 0px 15px; 
}
.faqScroll td p{
	margin:7px 0px 10px 0px; 
}
.faqScroll td p a:hover, .faqScroll p a:active, .faqScroll p a:visited, .faqScroll p a:link {
    color : #8d8d8d;    
	padding:0px 0px 0px 3px; 
}
.faqScroll td .aFaq{
	text-decoration: none;
	font-weight: bold;
}
/*~~~~~~~~~~ FAQ ~~~~~~~~~~~~~*/

/*~~~~~~~~~~ SiteMap ~~~~~~~~~~~~~*/
.centerSitemap{
	width:757px;
	height:422px;
	background:#ffffff;
	border-top: 1px solid #8d8d8d;
}
.sitemapScroll{
	width:757px;
	height:422px;
	background:#ffffff;
	overflow: auto;
	padding: 8px;
	padding:0px 0px 0px 50px; 
}
.sitemapScroll h1 {
	font-size: 12px;
	padding: 0px 0px 2px 0px; 
}
.sitemapScroll a:hover, .sitemapScroll a:active, .sitemapScroll a:visited, .sitemapScroll a:link {
    color : #8d8d8d;    
	padding:0px 0px 0px 15px; 
}
/*~~~~~~~~~~ SiteMap ~~~~~~~~~~~~~*/

/*~~~~~~~~~~ HomePage ~~~~~~~~~~~~*/
.centerHomeTop{
	width:757px;
	height:252px;
	background:#ffffff;
}
/*~~~~~~~~~~ HomePage ~~~~~~~~~~~~*/

/*~~~~~~~~~~ GalleryPage ~~~~~~~~~*/
.centerGallery{
	width:757px;
	height:422px;
	background:#ffffff;
}
.centerGalleryTop{
	width:757px;
	height:252px;
	background:#ffffff;
}
.centerGalleryLeft{
	float:left;
	width:630px;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px; 
}
.centerGalleryRight{
	float:left;
	width:127px;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px; 
}
.centerGalleryRight .tdSideNav{
	text-align: center;
	height: 25px;
	border-top: 1px solid #8d8d8d;
	cursor: hand; 
	font-size: 70%; 
}
.centerGalleryRight .tdSideNavSingle{
	height: 25px;
	border-top: 1px solid #8d8d8d;
}
.centerGalleryRight .tdSideNav a{
	text-decoration: none;
}
.centerGalleryRight .tdSideNav div{
	text-decoration: none;
	cursor: hand; 
	text-align: center;
	color: #8d8d8d; 
}
.centerGalleryRight .tdSideNavStarter{
	height: 7px;
	border-left: 1px solid #8d8d8d;
	border-top: 1px solid #8d8d8d;
}
.centerGalleryRight .tdSideNavSelect{
	width: 5px;
	border-left: 1px solid #8d8d8d;
	border-top: 1px solid #8d8d8d;
	cursor: hand; 
}
.centerGalleryRight .tdSideNavFinisher{
	height: 1px;
	border-top: 1px solid #8d8d8d;
	cursor: hand; 
}
.colFull{
	float:left;
	width:757;
	height:70px; 
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px; 
}
/*~~~~~~~~~~ GalleryPage ~~~~~~~~~*/